############################################
# OS / Editor
############################################
.DS_Store
.vscode/
.next

############################################
# Node
############################################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

############################################
# Next.js
############################################
.next/
out/
.vercel/

############################################
# ENV FILES
############################################
.env
.env.*
!.env.example

############################################
# Testing / Build
############################################
coverage/
build/
dist/

############################################
# TypeScript
############################################
*.tsbuildinfo
next-env.d.ts
